<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-wysihtml5-0.0.2.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/ICanHaz.min.js"></script>
<script type="text/javascript" src="/js/jsdeferred.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/underscore-min.js"></script>
<script type="text/javascript" src="/js/backbone-min.js"></script>
<script type="text/javascript" src="/js/wikinext.helper.js"></script>
<script type="text/javascript" src="/js/jslint.js"></script>
<script type="text/javascript" src="/codemirror/codemirror.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/channel/bcsocket.js"></script>
<script src="/share/share.js"></script>
<script src="/js/codemirror_sharejs.js"></script>
<link rel="stylesheet" href="/codemirror/codemirror.css">
<script src="/codemirror/mode/javascript/javascript.js"></script>
<script src="/codemirror/mode/css/css.js"></script>
<script src="/codemirror/mode/xml/xml.js"></script>
<script src="/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<script src="/js/wysihtml5-0.3.0_rc2.js"></script>
<script src="/js/bootstrap-wysihtml5-0.0.2.js"></script>

<link href="/css/style.css" rel="stylesheet/less">
<link href="/css/treeview.css" rel="stylesheet">

<link href="/css/docs.css" rel="stylesheet">

<script src="/js/less-1.3.0.min.js"></script>

<style>

    body {
        padding-top: 100px;
        padding-bottom: 40px;
    }

    #filedrag
    {
        display: none;
        font-weight: bold;
        text-align: center;
        padding: 1em 0;
        margin: 1em 0;
        color: #555;
        border: 2px dashed #555;
        border-radius: 7px;
        cursor: default;
    }

    #filedrag.hover
    {
        color: #f00;
        border-color: #f00;
        border-style: solid;
        box-shadow: inset 0 3px 4px #888;
    }

    #preview_in {
        border: 0px;
    }


    .errors {width: .8em;}
    .error a { color: #822; }


</style>
<script type="text/javascript">
var page = {
    _id: "{{#page}}{{_id}}{{/page}}"
};

var editorHTML;
var editorJavaScript;

var fontList = {
    'Arial': 'Arial',
    'Arial Black': 'Arial Black',
    'Book Antiqua': 'Book Antiqua',
    'Comic Sans MS': 'Comic Sans MS',
    'Courier New': 'Courier New',
    'Georgia': 'Georgia',
    'Helvetica': 'Helvetica',
    'Impact': 'Impact',
    'Tahoma': 'Tahoma',
    'Times New Roman': 'Times New Roman',
    'Trebuchet MS': 'Trebuchet MS',
    'Verdana': 'Verdana'
};


var currentFont = 'Arial';
wikinextHelper.init().next(function () {
    $(document).ready(function () {

        for (var t in fontList) {
            $('#fontlist').append($('<li><a href="javascript:void(0)" data-tool="font" data-font="' + t + '" style="font-family:' + t + '">' + fontList[t] + '</a></li>'));
        }

        $('#currentFont').html(fontList[currentFont]);

        $("#fontlist a").click(function () {
            currentFont = $(this).data('font');
            $('#currentFont').html(fontList[currentFont]);
        });

        (function () {
            // getElementById
            function $id(id) {
                return document.getElementById(id);
            }

            // output information
            function Output(msg) {
                var m = $id("messages");
                m.innerHTML = msg + m.innerHTML;
            }

            // file drag hover
            function FileDragHover(e) {
                e.stopPropagation();
                e.preventDefault();
                e.target.className = (e.type == "dragover" ? "hover" : "");
            }

            // file selection
            function FileSelectHandler(e) {

                // cancel event and hover styling
                FileDragHover(e);

                // fetch FileList object
                var files = e.target.files || e.dataTransfer.files;

                // process all File objects
                for (var i = 0, f; f = files[i]; i++) {
                    ParseFile(f);
                    UploadFile(f);
                }

            }

            // output file information
            function ParseFile(file) {
                Output(
                        "<p>File information: <strong>" + file.name +
                                "</strong> type: <strong>" + file.type +
                                "</strong> size: <strong>" + file.size +
                                "</strong> bytes</p>"
                );
                // display an image
                if (file.type.indexOf("image") == 0) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        Output(
                                "<p><strong>" + file.name + ":</strong><br />" +
                                        '<img src="' + e.target.result + '" /></p>'
                        );
                    };
                    reader.readAsDataURL(file);
                }

                // display text
                if (file.type.indexOf("text") == 0) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        Output(
                                "<p><strong>" + file.name + ":</strong></p><pre>" +
                                        e.target.result.replace(/</g, "&lt;").replace(/>/g, "&gt;") +
                                        "</pre>"
                        );
                    };
                    reader.readAsText(file);
                }
            }


            // upload JPEG files
            function UploadFile(file) {

                var xhr = new XMLHttpRequest();
                console.log(file);
                if (xhr.upload && (file.type == "image/jpeg" || file.type == "image/gif" || file.type == "image/png") && file.size <= $id("MAX_FILE_SIZE").value) {
                    console.log("upload");
                    // create progress bar
                    var o = $id("progress");
                    var progress = o.appendChild(document.createElement("p"));
                    progress.appendChild(document.createTextNode("upload " + file.name));


                    // progress bar
                    xhr.upload.addEventListener("progress", function (e) {
                        var pc = parseInt(100 - (e.loaded / e.total * 100));
                        progress.style.backgroundPosition = pc + "% 0";
                    }, false);

                    // file received/failed
                    xhr.onreadystatechange = function (e) {
                        if (xhr.readyState == 4) {
                            progress.className = (xhr.status == 200 ? "success" : "failure");
                        }
                    };

                    // start upload
                    xhr.open("POST", $id("upload").action, true);
                    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                    xhr.setRequestHeader("x-file-name", encodeURIComponent(file.name));
                    xhr.setRequestHeader("x-file-type", file.type);
                    xhr.setRequestHeader("x-file-size", file.size);
                    xhr.setRequestHeader("x-page-id", page._id);
                    xhr.setRequestHeader("Content-Type", "application/octet-stream");
                    xhr.send(file);

                }

            }


            // initialize
            function Init() {

                var fileselect = $id("fileselect"),
                        filedrag = $id("filedrag"),
                        submitbutton = $id("submitbutton");

                // file select
                fileselect.addEventListener("change", FileSelectHandler, false);

                // is XHR2 available?
                var xhr = new XMLHttpRequest();
                if (xhr.upload) {

                    // file drop
                    filedrag.addEventListener("dragover", FileDragHover, false);
                    filedrag.addEventListener("dragleave", FileDragHover, false);
                    filedrag.addEventListener("drop", FileSelectHandler, false);
                    filedrag.style.display = "block";

                    // remove submit button
                    submitbutton.style.display = "none";
                }

            }

            // call initialization file
            if (window.File && window.FileList && window.FileReader) {
                Init();
            }


        })();

        (function () {
            var dragZone = document.querySelector('#tab_2');
            var dropZone = document.querySelector('#tab1');
            dragZone.addEventListener('dragstart', function (event) {
//                if (event.target.className) { // img case
                event.dataTransfer.setData("text", '<img src="' + event.target.src + '">');
                //event.dataTransfer.effectAllowed = event.target.className;
                //event.target.style.border = "4px solid #cc3300";
//                } else { // text case
                //if (event.target.parentNode.className == 'overwrite') {
                //event.dataTransfer.setData("text", "<strong>Overwritten Content</strong>");
                //}
                //event.target.parentNode.style.border = "4px solid #cc3300";
//                }
                return true;
            }, true);

            dragZone.addEventListener('dragend', function (event) {
//                if (event.target.className) { // img case
//                    event.target.style.border = "4px solid #888";
//                } else { // text case
//                    event.target.parentNode.style.border = "4px solid #888";
//                }
                return true;
            }, true);

            dropZone.addEventListener('dragenter', function (event) {
                if (event.preventDefault) event.preventDefault();
                event.dataTransfer.dropEffect = 'copy';
//                this.className = 'hovering';
                return false;
            }, false);

            dropZone.addEventListener('dragover', function (event) {
                if (event.preventDefault) event.preventDefault(); // allows us to drop
                event.dataTransfer.dropEffect = 'copy';
                return false;
            }, false);

            dropZone.addEventListener('dragleave', function (event) {
                if (event.preventDefault) event.preventDefault(); // allows us to drop
//                this.className = '';
                return false;
            }, false);

            dropZone.addEventListener('drop', function (event) {
                if (event.preventDefault) event.preventDefault();
                var imgPassed = null;
                //var dropdata = document.querySelector('#drop-data');
                var types = event.dataTransfer.types;
//                document.querySelector('#drop-data').textContent = '';
//                this.innerHTML = '';
//                for (var i = 0; i < types.length; i++) {
//                    if (types[i] == 'Files') {
//                        var files = event.dataTransfer.files;
//                        for (var j = 0; j < files.length; j++) {
//                            dropdata.textContent += 'File Name: '+files[j].fileName;
//                            dropdata.textContent += 'File Size: '+files[j].fileSize;
//                        }
//                    } else {
//                        if (typeof event.dataTransfer.getData(types[i]) !== 'undefined') {
//                            dropdata.innerHTML += '<p><em class="datatypes">'+types[i]+'</em>: <br />'+event.dataTransfer.getData(types[i]).replace(/</g, '&lt;') + '</p>';
//                        }
//                    }
//
//                    if (types[i] == 'text/uri-list') {
//                        imgPassed = event.dataTransfer.getData('text/uri-list');
//                    }
//                }

//                if (imgPassed) {
//                    var cEl = document.createElement('canvas');
//                    cEl.width = 200;
//                    cEl.height = 100;
//                    var ctx = cEl.getContext('2d');
//                    var img_buffer = document.createElement('img');
//                    img_buffer.src = imgPassed;
//                    img_buffer.style.display = 'none';
//                    document.body.appendChild(img_buffer); // this line only needed in safari
//                    img_buffer.onload = function() { ctx.drawImage(img_buffer,0,0,100,100); }
//                    this.appendChild(cEl);
//                } else {
                var text = "";
                if (event.dataTransfer.getData('text')) {
                    text = event.dataTransfer.getData('text');
                } else if (event.dataTransfer.getData('text/plain')) {
                    text = event.dataTransfer.getData('text/plain');
                }
                editorHTML.replaceSelection(text);
//                }
                return false;
            }, false);
        })();


        // Define an extended mixed-mode that understands vbscript and
        // leaves mustache/handlebars embedded templates in html mode
        var mixedMode = {
            name: "htmlmixed",
            scriptTypes: [
                {matches: /\/x-handlebars-template|\/x-mustache/i,
                    mode: null},
                {matches: /(text|application)\/(x-)?vb(a|script)/i,
                    mode: "vbscript"}
            ]
        };
        var editorHTML = CodeMirror.fromTextArea(document.getElementById("textAreaArticle"), {
            mode: mixedMode,
            tabMode: "indent",
            lineWrapping: true
        });
        //editorHTML.setSize(null, 500);
        //editorJavaScript.setSize(null, 500);


        $("#save_button").click(function () {
            var info = {
                title: $("#page_title").val(),
                article: editorHTML.getValue(),
                app: editorJavaScript.getValue()
            };
            wikinextHelper.saveArticle(page._id, info).next(function (d) {
                var m;
                if (d.status == 'ok') {
                    m = ich.messageSuccess({"message": "Page has been saved"});

                } else {
                    m = ich.messageFail({"message": "Page has not been saved"});
                }
                $(m).insertBefore("#main_page_module .tabbable");
            });
        });

        $("#update_title").click(function () {
            $.post("/wiki/" + page._id + "/save", {title: $("#page_title").val()}, function () {
            });
            $("#change-title-dialog").modal("hide");
            return false;
        });

        editorJavaScript = CodeMirror.fromTextArea(document.getElementById("textAreaApplication"), {
            lineNumbers: true,
            matchBrackets: true,
            continueComments: "Enter",
            gutters: ["CodeMirror-linenumbers", "errors"]
        });


        $('#edit_tabs a').on('shown', function (e) {
            console.log($(e.target).data('id'));
            if ($(e.target).data('id') == 'html') {
                editorHTML.refresh();
            } else {
                editorJavaScript.refresh();
            }
        });

        $(".deleteattach").click(function () {

            var self = this;
            $.post("/deleteattach", {
                index: $(self).data("id"),
                pageid: page._id
            }, function (data) {
                //console.log(data);
                var m;
                if (data.status == 'ok') {
                    $(self).closest("div").remove();
                    m = ich.messageSuccess({"message": "Attach file has been removed"});
                }
                else
                    m = ich.messageFail({"message": "Attach file has not been removed"});
                $(m).insertBefore("#attached_images");
            })
        });

        $("#update_preview_button").click(function () {
            console.log("update preview");
            delete ich["preview"];
            delete ich.templates["preview"];
            ich.addTemplate("preview", editorHTML.getValue() + "<br>");
            //TODO need to use the same javascript wrapper as wiki.html uses
            var preview = ich.preview(editorJavaScript.getValue());
            $("#preview_in").empty();
            $("#preview_in").append(preview);
            $('#preview_dialog').modal('show');
        });

        $(".add-tag").click(function () {
            var selection = editorHTML.getSelection();
            var result = "";
            switch ($(this).data("tag")) {
                case "header1":
                    result = "<h1>" + selection + "</h1>";
                    break;
                case "header2":
                    result = "<h2>" + selection + "</h2>";
                    break;
                case "header3":
                    result = "<h3>" + selection + "</h3>";
                    break;
                case "header4":
                    result = "<h4>" + selection + "</h4>";
                    break;
                case "strong":
                    result = "<strong>" + selection + "</strong>";
                    break;
                case "italic":
                    result = "<em>" + selection + "</em>";
                    break;
                case "underline":
                    result = "<u>" + selection + "</u>";
                    break;
                case "strike":
                    result = "<s>" + selection + "</s>";
                    break;
                case "font":
                    result = "<span style='font-family:" + currentFont + ";'>" + selection + "</span>";
                    break;
                case "align-center":
                    result = "<div align='center'>" + selection + "</div>";
                    break;
                case "align-justify":
                    result = "<div align='justify'>" + selection + "</div>";
                    break;
                case "align-right":
                    result = "<div align='right'>" + selection + "</div>";
                    break;
                case "align-left":
                    result = "<div align='left'>" + selection + "</div>";
                    break;
            }
            editorHTML.replaceSelection(result);
        });


        $("#jslist a.jsexample").click(function (e) {
            //show example page
        });

        $("#jslist a.jsplug").click(function (e) {
            var button = $(this);
            //console.log("trying add jslibrary "+button.data("id"));
            $.post("/attachlibrary", {
                pageid: page._id,
                libraryid: button.data("id")
            }, function (res) {
                console.log(button.text());
                if (button.text() == "plug")
                    button.text("unplug");
                else
                    button.text("plug");
                console.log(res);
            });
        });

        $("#editor-wysiwyg").click(function () {
            alert("Currently WISYWIG is inactive due to changing in visualisation HTML editor part. We are sorry for inconviniance.");
            return false;
            editorHTML.toTextArea();
            //$("#textAreaArticle").hide();
            //$("#textAreaArticle").show();
            $("#textAreaArticle").wysihtml5();
        });

        $("#editor-html").click(function () {
            editorHTML = CodeMirror.fromTextArea(document.getElementById("textAreaArticle"), {
                mode: "text/html",
                tabMode: "indent"
            });
            $("#textAreaArticle").wysihtml5({})
        });

        $("#changeParent").click(function () {
            // invoking select page dialog
            wikinextHelper.selectPageDialog(function (data) {
                // change parent function
                wikinextHelper.changeParentPage(page._id, data['id']).next(function (status) {
                    if (status.status == 'ok') {
                        console.log("parent is changed successful");
                    }
                });
            });
            return false;
        });

        $("#changeTitle").click(function () {
            $("#change-title-dialog").modal("show");
        });

        $("#insert-wiki-link").click(function () {
            // invoking select page dialog
            wikinextHelper.selectPageDialog(function (data) {
                console.log("link was inserted");
                var selection = editorHTML.getSelection();
                var result = "<a href='" + data['url'] + "'>" + selection + "</a>";
                ;
                editorHTML.replaceSelection(result);
            });
        });

        $("#jslint").click(function () {
            editorJavaScript.clearGutter("errors");
            JSLINT(editorJavaScript.getValue(), {
                es5: true, white: true, devel: true, browser: true, maxerr: 100000, maxlen: 10000, passfail: false, undef: true,
                sloppy: true, stupid: true, indent: true, nomen: true
            });
            var errors = JSLINT.data().errors;
            console.log(errors);
            _.each(errors, function (value) {
                if (value != null) {
                    var info = editorJavaScript.lineInfo(value.line - 1);
                    if (info != null)
                        editorJavaScript.setGutterMarker(value.line - 1, "errors", info.markers ? null : makeMarker(value.reason));
                }
            });
            $('.error a').tooltip({container: 'body', placement: 'right'});
        });

        function makeMarker(reason) {
            var marker = document.createElement("div");
            marker.innerHTML = '<a href="#" data-toggle="tooltip" title="' + reason + '">●</a>';
            marker.className = "error";
            return marker;
        }

        sharejs.open(page._id, 'text', function (error, doc) {
            console.log(error);
            console.log(doc);
            doc.attach_codemirror(editorHTML, true);
        });

        sharejs.open(page._id + "app", 'text', function (error, doc) {
            console.log(error);
            console.log(doc);
            doc.attach_codemirror(editorJavaScript, true);
        });
    });
});
</script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">WikiNEXT</a>
            <div class="btn-group pull-right">
                {{#login}}
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> Login
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/auth/facebook">Facebook</a></li>
                </ul>
                {{/login}}
                {{#auth}}
                {{#facebook}}
                {{#user}}
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> {{name}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Sign Out</a></li>
                </ul>
                {{/user}}
                {{/facebook}}
                {{/auth}}

            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/"><i class="icon-home"></i>&nbsp;Home</a></li>
                    <li><a href="#" onclick="return false;" id="changeParent"><i class="icon-th-list"></i>&nbsp;Change Parent</a></li>
                    <li><a href="#" onclick="return false;" id="changeTitle"><i class="icon-pencil"></i>&nbsp;Change Title</a></li>
                    <li class="active"><a href="#"><i class="icon-edit"></i>&nbsp;Edit</a></li>
                    {{#page}}
                    <li><a href="/wiki/{{_id}}"><i class="icon-check"></i>&nbsp;View</a></li>
                    {{/page}}
                    <li><a href="/wiki/5176580d1d20c5b055000001"><i class="icon-search"></i>&nbsp;Search</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="btn-toolbar" id="toolbar">
        <div class="btn-group">
            <button class="btn" data-tool="save" id="save_button"><i class="icon-16x16"></i>Save</button>
        </div>
        <div class="btn-group">
            <button class="btn">Heading</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <!-- dropdown menu links -->
                <a href="#" class="add-tag" data-tag="header1">Heading 1</a>
                <a href="#" class="add-tag" data-tag="header2">Heading 2</a>
                <a href="#" class="add-tag" data-tag="header3">Heading 3</a>
                <a href="#" class="add-tag" data-tag="header4">Heading 4</a>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn add-tag" data-tag="align-left" href="#"><i class="icon-align-left"></i></a>
            <a class="btn add-tag" data-tag="align-center" href="#"><i class="icon-align-center"></i></a>
            <a class="btn add-tag" data-tag="align-right" href="#"><i class="icon-align-right"></i></a>
            <a class="btn add-tag" data-tag="align-justify" href="#"><i class="icon-align-justify"></i></a>
        </div>
        <div class="btn-group">
            <button class="btn add-tag" data-tag="strong" data-tool="strong" title="Bold"><i class="icon-16x16"></i></button>
            <button class="btn add-tag" data-tag="italic" data-tool="em" title="Italic"><i class="icon-16x16"></i></button>
            <button class="btn add-tag" data-tag="underline" data-tool="u" title="Underline"><i class="icon-16x16"></i></button>
            <button class="btn add-tag" data-tag="strike" data-tool="del" title="Strikethrough"><i class="icon-16x16"></i></button>
        </div>
        <div class="btn-group">
            <button class="btn add-tag" data-tag="font" data-tool="font"><i class="icon-16x16"></i> <span id="currentFont">Arial Black</span></button>
            <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu" id="fontlist">
            </ul>
        </div>
        <div class="btn-group">
            <!--<button class="btn" title="Insert link" id="insert-link">Link</button>-->
            <button class="btn" title="Insert wiki link" id="insert-wiki-link"><i class="icon-folder-open"></i></button>
        </div>
        <div class="btn-group">
            <button class="btn" id="jslint">JSLint</button>
        </div>
        <div class="btn-group">
            <button class="btn" id="update_preview_button">Update Preview</button>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12" id="main_page_module">

            <div class="tabbable">
                <ul class="nav nav-tabs" id="edit_tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab" data-id="html">HTML</a></li>
                    <li><a href="#tab_apps" data-toggle="tab" data-id="javascript">JavaScript</a></li>
                    <li><a href="#tab_jslib" data-toggle="tab">Plugged libraries</a></li>
                </ul>
                <div class="tab-content">
                    {{#page}}
                    <div class="tab-pane active" id="tab1">
                        <!--<div class="btn-group">-->
                            <!--<button class="btn" id="editor-wysiwyg">WYSIWYG</button>-->
                            <!--<button class="btn" id="editor-html">HTML Code</button>-->
                        <!--</div>-->
                        <!--<br>-->
                        <p><textarea id="textAreaArticle" style="width: 810px; height: 200px;" placeholder="Enter text ...">{{article}}</textarea></p>
                    </div>
                    <div class="tab-pane" id="tab_apps">
                        <p><textarea id="textAreaApplication" style="visibility: hidden;">{{app}}</textarea></p>
                    </div>
                    {{/page}}
                    <div class="tab-pane" id="tab_jslib">
                        <h3>Libraries available</h3>
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>Name</th><th>Description</th><th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="jslist">
                            {{#libraries}}
                            <tr data-jl-id="{{ _id }}">
                                <td>{{name}}</td><td>{{description}}</td>
                                <td>
                                    <!--<a href="#" class="btn btn-info jsexample">Example of usage</a>&nbsp;-->
                                    <a href="#" class="btn btn-primary jsplug" data-id="{{_id}}">{{plugged}}</a>
                                </td>
                            </tr>
                            {{/libraries}}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        <div class="modal hide fade" id="preview_dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Preview dialog</h3>
            </div>
            <div class="modal-body">
                <p><div id="preview_in">

            </div></p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
        <!--<div class="span1">-->
            <!--<p class="muted">Currently edit</p>-->
            <!--<div class="users_online"></div>-->
        <!--</div>-->
    </div><!--/row-->
    <hr>
    <div class="row-fluid">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Attach Files</a></li>
            <li><a href="#tab_2" data-toggle="tab">Attached Files</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <p><form id="upload" action="/upload" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000">

                    <div class="control-group">
                        <label for="fileselect" class="control-label">Files to upload:</label>
                        <input type="file" id="fileselect" name="fileselect[]" multiple="multiple">
                        <div id="filedrag" style="display: block; ">or drop files here</div>
                    </div>

                    <div id="submitbutton" style="display: none; ">
                        <button type="submit">Upload Files</button>
                    </div>

                </fieldset>

            </form>
                <div id="progress"></div>
                <div id="messages">
                    <p>Status Messages</p>
                </div>
            </div>
            <div class="tab-pane" id="tab_2">
                <p id="attached_images">
                    {{#page}}
                    {{#attach}}
                    <div data-id="{{index}}">
                    <span class="label label-info">{{name}} : {{type}} was uploaded by {{uploaded_by}} at {{uploaded_at}}</span><br />
                        <img src='/{{path}}/{{name}}' draggable="true"> <br /><button class="btn btn-danger deleteattach" data-id="{{index}}">Delete {{name}}</button><hr />
                    </div>
                    {{/attach}}
                    {{/page}}
                </p>
            </div>
        </div>
    </div>


    </div>

    <hr>

    <footer><p>WikiNEXT © Pavel Arapov</p></footer>

</div>

<div class="modal hide" id="change-title-dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Change Title</h3>
    </div>
    <div class="modal-body">
        <form id="change-title-form" method="POST" onsubmit="return false;">
            <label>Change Title of the Page</label>
            {{#page}}
            <input class="span3" id="page_title" size="24" type="text" value="{{title}}">
            {{/page}}
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" id="update_title">Change</a>
    </div>
</div>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39822823-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>