<!DOCTYPE HTML>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/prettify.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
    <link href="/css/treeview.css" rel="stylesheet">
    <script type="text/javascript" src="/js/prettify.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/ICanHaz.min.js"></script>
    <script type="text/javascript" src="/js/jsdeferred.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/backbone-min.js"></script>
    <script type="text/javascript" src="/js/wikinext.main.js"></script>
    <script type="text/javascript" src="/js/wikinext.helper.js"></script>
    <!--[if lt IE 9]><script src="/js/excanvas/excanvas.js"></script><![endif]-->
</head>
<body vocab="http://schema.org/" typeof="WebPage" about="{{#page}}/wiki/{{_id}}{{/page}}">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">WikiNEXT</a>
            <div class="btn-group pull-right">
                {{#login}}
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> Login
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/auth/facebook">Facebook</a></li>
                </ul>
                {{/login}}
                {{#auth}}
                {{#facebook}}
                {{#user}}
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> {{name}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Sign Out</a></li>
                </ul>
                {{/user}}
                {{/facebook}}
                {{/auth}}

            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/"><i class="icon-home"></i>&nbsp;Home</a></li>
                    <li><a href="#" id="goto"><i class="icon-play-circle"></i>&nbsp;Go To Page</a></li>
                    {{#auth}}
                    {{#facebook}}
                    {{#user}}
                    <li><a data-toggle="modal" href="#create-page-dialog"><i class="icon-file"></i>&nbsp;Create Page</a></li>
                    {{/user}}
                    {{/facebook}}
                    {{/auth}}
                    <li><a href="/wiki/5176580d1d20c5b055000001"><i class="icon-search"></i>&nbsp;Search</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <ul class="breadcrumb" property="breadcrumb">
        <li>
            <a href="/">Home</a> <span class="divider">/</span>
        </li>
        {{#page}}
        {{#nav}}
        <li>
            <a href="/wiki/{{_id}}">{{title}}</a> <span class="divider">/</span>
        </li>
        {{/nav}}
        {{/page}}
        {{#page}}
        <li class="active">{{title}}</li>
        {{/page}}
    </ul>
</div>
<br/><br/>
<div class="container-fluid" typeof="Person" about="{{#page}}/user/{{_id}}{{/page}}">
    <div class="row-fluid">
        <div class="span12 well">
            {{#page}}
            <h1 property="name">{{name}}</h1>
            <img src="https://graph.facebook.com/{{fbid}}/picture" class="img-polaroid">
            {{/page}}
            <br/>
            <br/>
            {{#pages}}
            <a href="/wiki/{{_id}}">{{title}}</a><br/>
            {{/pages}}
        </div><!--/row-->
    </div>
    <hr>

    <blockquote class="pull-right">
        <small>Keep do it</small>
    </blockquote>

    <hr>

    <footer><p>WikiNEXT © Pavel Arapov</p></footer>

</div>
<!-- DIALOGS -->
<div class="modal hide" id="create-page-dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">?</button>
        <h3>Create Page</h3>
    </div>
    <div class="modal-body">
        <form id="create-page-form" method="POST" action="/create">
            <label>Create Page</label>
            <input type="text" class="span3" placeholder="Type the name…" id="page_name" name="page_name">
            <input type="hidden" name="parent" value="{{#page}}{{_id}}{{/page}}">
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" id="create-page-button">Create</a>
    </div>
</div>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39822823-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>