<!DOCTYPE HTML>
<html>
<head>
    <title>{{title}}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/nowjs/now.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/ICanHaz.min.js"></script>
    <script type="text/javascript" src="/js/jsdeferred.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/backbone-min.js"></script>
    <script type="text/javascript" src="/js/wikinext.main.js"></script>
    <style>

        body {
            padding-top: 100px;
            padding-bottom: 40px;
        }

        #filedrag
        {
            display: none;
            font-weight: bold;
            text-align: center;
            padding: 1em 0;
            margin: 1em 0;
            color: #555;
            border: 2px dashed #555;
            border-radius: 7px;
            cursor: default;
        }

        #filedrag.hover
        {
            color: #f00;
            border-color: #f00;
            border-style: solid;
            box-shadow: inset 0 3px 4px #888;
        }

    </style>
    <script type="text/javascript">
            var launch_wiki_script = function(){
                var data = {}
                {{#page}}
                    {{{app}}}
                {{/page}}
                return data;
            }
    </script>
    <script type="text/javascript">
        var page = {
        {{#page}}
        _id: "{{_id}}"
        {{/page}}
        };

        $(document).ready(function(){
            var data = launch_wiki_script();
            var article = ich.article_template(data);
            $("#article_show").append(article);
        });

    </script>
    <script type="text/html" id="article_template">
        {{#page}}
            {{{article}}}
        {{/page}}
    </script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">WikiNEXT</a>
            <div class="btn-group pull-right">
                {{#login}}
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> Login
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/auth/facebook">Facebook</a></li>
                </ul>
                {{/login}}
                {{#auth}}
                {{#facebook}}
                {{#user}}
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> {{name}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Sign Out</a></li>
                </ul>
                {{/user}}
                {{/facebook}}
                {{/auth}}

            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    {{#auth}}
                    {{#facebook}}
                    {{#user}}
                    <li><a data-toggle="modal" href="#create-page-dialog">Create Page</a></li>
                    {{#page}}
                    <li><a href="/wiki/{{_id}}/edit">Edit</a></li>
                    {{/page}}
                    {{/user}}
                    {{/facebook}}
                    {{/auth}}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a> <span class="divider">/</span>
        </li>
        {{#page}}
        <li class="active">{{title}}</li>
        {{/page}}
    </ul>
</div>

<div class="container-fluid">
    <div class="row-fluid" id="article_show">

    </div><!--/row-->

    <hr>

    <div class="row-fluid">
        <p>
            <b>Attached files</b><br />
            {{#page}}
            {{#attach}}
            {{name}} : {{type}}
            <img src='/{{path}}/{{name}}'><br />
            {{/attach}}
            {{/page}}
        </p>
    </div>

    <hr>

    <footer><p>WikiNEXT © Pavel Arapov</p></footer>

</div>

<div class="modal hide" id="create-page-dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Create Page</h3>
    </div>
    <div class="modal-body">
        <form id="create-page-form" method="POST" action="/create">
            <label>Create Page</label>
            <input type="text" class="span3" placeholder="Type the name…" id="page_name" name="page_name">
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" id="create-page-button">Create</a>
    </div>
</div>

</body>
</html>