<!DOCTYPE HTML>
<html xmlns:dc="http://purl.org/dc/elements/1.1/">
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/prettify.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
    <link href="/css/treeview.css" rel="stylesheet">
    <script type="text/javascript" src="/js/prettify.js"></script>
    <script type="text/javascript" src="/nowjs/now.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/ICanHaz.js"></script>
    <script type="text/javascript" src="/js/jsdeferred.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/backbone-min.js"></script>
    <script type="text/javascript" src="/js/wikinext.main.js"></script>
    <script type="text/javascript" src="/js/wikinext.helper.js"></script>
    {{#page}}
    {{#js}}
    <script type="text/javascript" src="/js/{{src}}"></script>
    {{/js}}
    {{/page}}
    <!--[if lt IE 9]><script src="/js/excanvas/excanvas.js"></script><![endif]-->
    <style>

        body {
            padding-top: 100px;
            padding-bottom: 40px;
        }

        #filedrag
        {
            display: none;
            font-weight: bold;
            text-align: center;
            padding: 1em 0;
            margin: 1em 0;
            color: #555;
            border: 2px dashed #555;
            border-radius: 7px;
            cursor: default;
        }

        #filedrag.hover
        {
            color: #f00;
            border-color: #f00;
            border-style: solid;
            box-shadow: inset 0 3px 4px #888;
        }

    </style>
    <script type="text/javascript">
            window.launch_wiki_script = (function(){
                var __data = {};
                var application = (function(){
                    {{#page}}
                    {{{app}}}
                    {{/page}}
                    return {
                        __construct: function() {
                            if (typeof construct == 'function'){
                                console.log('application construct');
                                __data = construct();
                            } else
                            if (typeof data != 'undefined')
                                __data = data;
                            return __data;
                        },
                        __afterConstruct: function() {
                            if (typeof afterConstruct == 'function'){
                                console.log('application after construct');
                                afterConstruct();
                            }
                        }
                    }})();
                return {
                    construct: function(){
                        return application.__construct();
                    },
                    afterConstruct: function(){
                        application.__afterConstruct();
                    }
                };
            })();
                    $(document).ready(function(){
                        // start wiki
                        wikinextHelper.init().next(function(){});
                        var data = launch_wiki_script.construct();
                        ich.grabTemplates();
                        var article = ich.article_template(data);
                        $("#article_show").append(article);
                        wikinextHelper.preparePrettify($("#article_show"));
                        launch_wiki_script.afterConstruct();
                        wikinextHelper.updateContent();
                    });
                    //});
    </script>
    <script type="text/javascript">
        var page = {
            _id: "{{#page}}{{_id}}{{/page}}"
        };
    </script>
    <script type="text/html" id="article_template">
        {{#page}}
            {{{article}}}
        {{/page}}
    </script>
    <script type="text/javascript">
        var i,
                l,
                scripts = document.getElementById("article_template").getElementsByTagName('script'),
                script,
                trash = [];
        for (i = 0, l = scripts.length; i < l; i++) {
            script = scripts[i];
            if (script && script.innerHTML && script.id && (script.type === "text/html" || script.type === "text/x-icanhaz")) {
                ich.addTemplate(script.id, trim(script.innerHTML));
                trash.unshift(script);
            }
        }
        for (i = 0, l = trash.length; i < l; i++) {
            trash[i].parentNode.removeChild(trash[i]);
        }
    </script>
</head>
<body onload="prettyPrint();">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">WikiNEXT</a>
            <div class="btn-group pull-right">
                {{#login}}
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> Login
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/auth/facebook">Facebook</a></li>
                </ul>
                {{/login}}
                {{#auth}}
                {{#facebook}}
                {{#user}}
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> {{name}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Sign Out</a></li>
                </ul>
                {{/user}}
                {{/facebook}}
                {{/auth}}

            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    {{#auth}}
                    {{#facebook}}
                    {{#user}}
                    <li><a data-toggle="modal" href="#create-page-dialog">Create Page</a></li>
                    <li><a data-toggle="modal" href="#select-page-dialog">Select Page</a></li>
                    {{#page}}
                    <li><a href="/wiki/{{_id}}/edit">Edit</a></li>
                    <li><a href="/wiki/{{_id}}/clone">Clone</a></li>
                    <li><a data-toggle="modal" href="#delete-page-dialog">Delete</a></li>
                    {{/page}}
                    {{/user}}
                    {{/facebook}}
                    {{/auth}}
                    <li><a href="/search">Search</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a> <span class="divider">/</span>
        </li>
        {{#page}}
        {{#nav}}
        <li>
            <a href="/wiki/{{_id}}">{{title}}</a> <span class="divider">/</span>
        </li>
        {{/nav}}
        {{/page}}
        {{#page}}
        <li class="active">{{title}}</li>
        {{/page}}
    </ul>
</div>

<div class="container-fluid">
    <div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Subpages</li>
                {{#pages}}
                <li><a href="/wiki/{{_id}}">{{title}}</a></li>
                {{/pages}}
            </ul>
        </div><!--/.well -->
    </div><!--/span-->
    <div class="span9" id="article_show">


    </div><!--/row-->
    </div>
    <hr>

    <div class="row-fluid">
        <p>
            <b>Attached files</b><br />
            {{#page}}
            {{#attach}}
            {{name}} : {{type}}
            <img src='/{{path}}/{{name}}'><br />
            {{/attach}}
            {{/page}}
        </p>
    </div>
    <p>Tags:
        <a href="#"><span class="label label-info">no Tags</span></a>
        {{#page}}
        | <i class="icon-user"></i> <a href="#">{{created_by}}</a>
        | <i class="icon-calendar"></i> {{created_at}}
        {{#last_modified_by}}
        | <i class="icon-user"></i> <a href="#">{{last_modified_by}}</a>
        | <i class="icon-calendar"></i> {{last_modified_at}}
        {{/last_modified_by}}
        | <i class="icon-comment"></i> <a href="#">0 Comments</a>
        | <i class="icon-share"></i> <a href="#">Version {{version}}</a>
        {{/page}}
    </p>
    <blockquote class="pull-right">
        <small>Keep do it</small>
    </blockquote>

    <hr>

    <footer><p>WikiNEXT © Pavel Arapov</p></footer>

</div>

<div class="modal hide" id="create-page-dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">?</button>
        <h3>Create Page</h3>
    </div>
    <div class="modal-body">
        <form id="create-page-form" method="POST" action="/create">
            <label>Create Page</label>
            <input type="text" class="span3" placeholder="Type the name…" id="page_name" name="page_name">
            <input type="hidden" name="parent" value="{{#page}}{{_id}}{{/page}}">
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" id="create-page-button">Create</a>
    </div>
</div>

<div class="modal hide" id="delete-page-dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">?</button>
        <h3>Are you sure what to delete current page?</h3>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" id="delete-page-button">Delete</a>
    </div>
</div>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39822823-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>